<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
  <head>
    <title th:replace="fragments/fragment :: title"></title>
    <object th:include="fragments/fragment :: css&js" th:remove="tag"></object>
    <!-- <link rel="stylesheet" th:href="@{/css/.css}"> -->
  </head>

  <body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
      <h3 class="title">Dafta Pegawai Setiap Instansi</h3>

      <table class="table table-striped table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Jumlah Pegawai</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="jabatan, iterStats : ${dataPegawaiInstansi}">
            <th scope="row" th:text="${iterStats.count}"></th>
            <td th:text="${jabatan.key}"></td>
            <td th:text="${jabatan.value}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
