<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
  <head>
    <title th:replace="fragments/fragment :: title"></title>
    <object th:include="fragments/fragment :: css&js" th:remove="tag"></object>
    <!-- <link rel="stylesheet" th:href="@{/css/.css}"> -->
  </head>

  <body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
      <h3 th:text="'Jabatan ' + ${jabatan.nama} + ' berhasil di' + ${action}"></h3>

      <a th:href="@{'/jabatan/view/' + ${jabatan.id}}" class="btn btn-danger">Back</a>
    </div>
  </body>
</html>
