<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
  <head>
    <title th:replace="fragments/fragment :: title"></title>
    <object th:include="fragments/fragment :: css&js" th:remove="tag"></object>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
      <h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
      <div id="id-jabatan" th:text="${jabatan.id}" hidden></div>
      <div class="row">
        <div class="col-4">Nama</div>
        <div class="col-4" th:text="${jabatan.nama}"></div>
      </div>
      <div class="row">
        <div class="col-4">Deskripsi</div>
        <div class="col-4" th:text="${jabatan.deskripsi}"></div>
      </div>
      <div class="row">
        <div class="col-4">Gaji Pokok</div>
        <div class="col-4" th:text="${jabatan.gajiPokok}"></div>
      </div>
      <div class="row" style="margin-top: 2%;">
        <a th:href="@{'/jabatan/ubah?idJabatan=' + ${jabatan.id}}" class="btn btn-warning" style="margin-right: 2%;">Ubah</a>
        <a id="button-hapus" class="btn btn-danger">Hapus</a>
      </div>

      <form id="form-hapus-jabatan" th:action="@{/jabatan/hapus}" method="POST" hidden>
        <input name="id" th:value="${jabatan.id}" hidden></input>
        <input name="nama" th:value="${jabatan.nama}" hidden></input>
      </form>

    </div>

    <script type="text/javascript">
      $("#button-hapus").on("click", function () {
        $.ajax({
            method: "GET",
            contentType: "application/json",
            url: `/jabatan/cek/hapus/${$("#id-jabatan").html()}`,
            cache: false,
            success : function (response) {
              if (response.message == "false") {
                alert("Jabatan tidak dapat dihapus karena terdapat pegawai dengan jabatan ini");
              } else {
                document.getElementById("form-hapus-jabatan").submit();
              }
            },
        });
      });
    </script>
  </body>
</html>
